<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} | {% endif %}postcss-ant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  </head>
  <body>
    <!--[if IE]>
      <div class="browserupgrade"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div>
    <![endif]-->


    <div class="overlay"></div>

    <button class="sidebar-button">
      <span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    <div class="wrap">
      <div class="sidebar">
        <a href="https://github.com/corysimmons/postcss-ant" class="logo">
          <img src="{{ site.baseurl }}/img/postcss-ant-logo.svg">
        </a>

        <p>
          A size-getting function that accepts fractions, decimals, fixed numbers, and everything <b>in-between</b>.
        </p>

        <p>
          By the guy who built Jeet and Lost.
        </p>

        <nav>
          <h3>Introduction</h3>
          <div class="submenu">
            <a href="{{ site.baseurl }}/#what-is-ant">What is ant?</a>
            <a href="{{ site.baseurl }}/#api">API</a>
            <a href="{{ site.baseurl }}/#postcss-ant-vs-flexbox">postcss-ant vs Flexbox</a>
            <a href="{{ site.baseurl }}/#flexboxs-strengths">Flexbox's Strengths</a>
            <a href="{{ site.baseurl }}/#why-postcss">Why PostCSS?</a>
            <a href="{{ site.baseurl }}/#postcss-calc">postcss-calc</a>
            <a href="{{ site.baseurl }}/#browser-support">Browser Support</a>
          </div>

          <h3>Usage</h3>
          <div class="submenu">
            <a href="{{ site.baseurl }}/usage#integrations">Integrations</a>
            <a href="{{ site.baseurl }}/usage#postcss-cli">postcss-cli</a>
            <a href="{{ site.baseurl }}/usage#nodejs">Node.js</a>
            <a href="{{ site.baseurl }}/usage#gulp">Gulp</a>
            <a href="{{ site.baseurl }}/usage#contribute-your-own-integration">Contribute your own integration</a>
          </div>

          <h3>Examples</h3>
          <div class="submenu">
            <a href="{{ site.baseurl }}/example/basic-usage">Basic Usage</a>
            <a href="{{ site.baseurl }}/example/nth-grids-and-preprocessor-looping">nth Grids and Preprocessor Looping</a>
            <a href="{{ site.baseurl }}/example/negative-margin-grids">negative-margin Grids</a>
            <a href="#">
              Combined with Flexbox
              <span class="coming-soon">
                <span>
                  Coming<br>
                  Soon
                </span>
              </span>
            </a>
            <a href="#">
              Combined with The Grid Layout Spec
              <span class="coming-soon">
                <span>
                  Coming<br>
                  Soon
                </span>
              </span>
            </a>
          </div>
        </nav>
      </div>

      <main>
        {{ content }}
      </main>
    </div>

    <script src="{{ site.baseurl }}/js/lib/zepto.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
  </body>
</html>
