// Re-reeeset
p:last-of-type {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

:root {
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  color: lighten(black, 50%);
}

h1, h2, h3, h4, h5, h6, bold, strong {
  color: lighten(black, 15%);
}

ul, ol {
  list-style-position: inside;
}

a {
  color: dodgerblue;
}

body {
  height: 2000px;
}

#masthead {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  > #animated-grid-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: none;
    gg:
      columns(1/3 1/3 1/3)
      rows(1/3 1/3 1/3)
    ;

    > * {
      background: blue;
    }
  }

  #howdy {
    display: flex;

    @media (max-width: 680px) {
      flex-direction: column;

      > img {
        width: 20%;
      }
    }

    > div {
      margin-right: 90px;

      > a {
        color: white;
        background: dodgerblue;
        text-decoration: none;
        padding: .3333333em .6666666em;
        border-radius: 3px;
        font-size: 13px;
        font-weight: bold;
      }
    }

    > img {
      height: 100%;
    }
  }
}
