<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{page.title}} | {% endif %}postcss-ant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/css/dist/reeeset.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/dist/style.css">
  </head>
  <body>
    <!--[if IE]>
      <div class="browserupgrade"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div>
    <![endif]-->

    {{content}}

    <script src="{{site.baseurl}}/js/vendor/zepto.min.js"></script>
    <script src="{{site.baseurl}}/js/main.js"></script>
  </body>
</html>
